<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page </title>
</head>
<body>
    <h2> Welcome to the Home Page! </h2>
    <h3>Number of Users: <%= count %></h3>
    <form>
        <input type="id" name="id" placeholder="Enter id"><br><br>
        <input type="text" name="username" placeholder="Enter username"><br><br>
        <input type="email" name="email" placeholder="Enter email" required><br> <br>
        <input type="password" name="password" placeholder="Enter password"><br> <br>
    </form>
    <button onclick="window.location.href='/users'"> Join us! </button>
    <button onclick="window.location.href='/users'">Create user!</button>
</body>
</html>